  <form action="/admin/generate-fake-posts" method="post">
    <div class="form-group">
    <h1>Create Posts</h1>
      <input class="form-control" type="number" name="amount" value="">
    </div>
    <button class="btn"type="submit">Generate Post</button>
  </form>

<div class="row">
  <canvas id="myChart"></canvas>
</div>
